<nav id="nav-bar-layout" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a id="add-sound-button" class="navbar-brand" href="#" data-toggle="modal" data-target="#add-sound-modal">+ Добавить песню</a>
        <button id="add-sound" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="open-sound-folder" class="nav-link active" aria-current="page" href="#">Open folder</a>
                </li>
            </ul>
        </div>
    </div>

    <div data-partial="modalNewSound"></div>
</nav>

<script>
    Render.loadComponent("partial", "modalNewSound");
</script>